language: cpp

os:
  - linux
  - windows

before_install:
  - export WEASEL_LINK=https://dl.bintray.com/rime/weasel/weasel-0.14.3.0-installer.exe
  - export SQUIRREL_LINK=https://dl.bintray.com/rime/squirrel/Squirrel-0.14.0.zip
  - export WEASEL_VERSION=weasel-0.14.3
  - export SQUIRREL_VERSION=squirrel-0.14.0
  - export WEASEL_PACKAGES="cantonese emoji sgalal/rime-opencc-32bit-latest custom:set:config=default,key=installed_from,value=rime-cantonese custom:add:schema=jyut6ping3"
  - export TRAVIS_TAG=$TRAVIS_TAG

install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get install p7zip-full; fi

script:
  - mkdir output
  - chmod u+x .ci/*
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then ".ci/build_linux.sh"    ; fi

after_success:
  - cp .ci/ibus-install.sh output/
  - cp .ci/default.custom.yaml output/
  - ls output

deploy:
  provider: releases
  api_key: ${GITHUB_TOKEN}
  file_glob: true
  file:
    - output/*
  on:
    tags: true
  skip_cleanup: 'true'
