language: cpp

os:
  - linux
  - windows

before_install:
  - export WEASEL_VERSION=$( git ls-remote --tags --refs --sort="v:refname" https://github.com/rime/weasel.git | tail -n1 | sed 's/.*\///' )
  - export SQUIRREL_VERSION=$( git ls-remote --tags --refs --sort="v:refname" https://github.com/rime/squirrel.git | tail -n1 | sed 's/.*\///' )
  - export WEASEL_LINK=https://dl.bintray.com/rime/weasel/weasel-${WEASEL_VERSION}.0-installer.exe
  - export SQUIRREL_LINK=https://dl.bintray.com/rime/squirrel/Squirrel-${SQUIRREL_VERSION}.zip
  - export WEASEL_PACKAGES="cantonese emoji sgalal/rime-opencc-32bit-latest custom:set:config=default,key=installed_from,value=rime-cantonese custom:add:schema=jyut6ping3"
  - export TRAVIS_TAG

install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get install p7zip-full; fi

script:
  - mkdir output
  - chmod u+x .ci/*
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then ".ci/build_linux.sh"     ; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then ".ci/build_windows.sh" ; fi

after_success:
  - ls output

deploy:
  provider: releases
  api_key: ${GITHUB_TOKEN}
  file_glob: true
  file:
    - output/*
  on:
    tags: true
  skip_cleanup: 'true'
