if: tag IS present OR branch = main

jobs:
  include:
# For Mac pkg and Linux installation script
    - dist: xenial
      language: ruby

# For Android apk builder
    - dist: trusty
      language: android
      jdk: openjdk8
      android:
        components:
          - build-tools-25.0.2

# For Windows installer
    - os: windows
      language: cpp

before_install:
# Get frontend version number from GitHub
  - export WEASEL_VERSION=$( git ls-remote --tags --refs --sort="v:refname" https://github.com/rime/weasel.git | tail -n1 | sed 's/.*\///' )
  - export SQUIRREL_VERSION=$( git ls-remote --tags --refs --sort="v:refname" https://github.com/rime/squirrel.git | tail -n1 | sed 's/.*\///' )

# Download latest frontend
  - export WEASEL_LINK=https://github.com/rime/weasel/releases/download/${WEASEL_VERSION}/weasel-${WEASEL_VERSION}.0-installer.exe
  - export SQUIRREL_LINK=https://github.com/rime/squirrel/releases/download/${SQUIRREL_VERSION}/Squirrel-${SQUIRREL_VERSION}.zip
  - export TRIME_LINK=https://github.com/osfans/trime/raw/gh-pages/release/app-release.apk

# IME Files path
  - export WEASEL_PACKAGES="cantonese emoji-cantonese CanCLID/rime-loengfan custom:set:config=default,key=installed_from,value=rime-cantonese custom:clear_schema_list custom:add:schema=jyut6ping3 custom:add:schema=cangjie5 custom:add:schema=stroke custom:add:schema=luna_pinyin lotem/rime-octagram-data lotem/rime-octagram-data@hant lotem/rime-octagram-data:customize:schema=jyut6ping3,model=hant"
  - export SQUIRREL_PACKAGES="cantonese emoji-cantonese CanCLID/rime-loengfan custom:set:config=default,key=installed_from,value=rime-cantonese custom:clear_schema_list custom:add:schema=jyut6ping3 custom:add:schema=cangjie5 custom:add:schema=stroke custom:add:schema=luna_pinyin lotem/rime-octagram-data lotem/rime-octagram-data@hant lotem/rime-octagram-data:customize:schema=jyut6ping3,model=hant"
  - export IBUS_PACKAGES=${SQUIRREL_PACKAGES}
  - export TRIME_PACKAGES=":preset cantonese emoji-cantonese CanCLID/rime-loengfan"

# Windows sfx installer header
  - export SFXHEADER=7zSD.sfx

install:
  - if [[ "$TRAVIS_OS_NAME" = "linux" && "$TRAVIS_DIST" = "xenial" ]]; then sudo apt-get install p7zip-full; fi

script:
  - mkdir output
  - chmod u+x .ci/*
  - if [[ "$TRAVIS_OS_NAME" = "linux" && "$TRAVIS_DIST" = "xenial" ]]; then
      ".ci/build_linux.sh";
    elif [[ "$TRAVIS_OS_NAME" = "linux" && "$TRAVIS_DIST" = "trusty" ]]; then
      ".ci/build_android.sh";
    elif [ "$TRAVIS_OS_NAME" = "windows" ]; then
      ".ci/build_windows.sh";
    fi

after_success:
  - ls output # debug

deploy:
  provider: releases
  api_key: ${GITHUB_TOKEN}
  file_glob: true
  file:
    - output/*
  on:
    tags: true
  skip_cleanup: true
