name: Compilation check

on:
  push:
    branches:
      - main
    paths:
      - '*.yaml'  # root directory only
      - '*.txt'
      - 'opencc/**'
  pull_request:
    branches:
      - main
    paths:
      - '*.yaml'
      - '*.txt'
      - 'opencc/**'
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install rime engine
        run: |
          sudo apt-get install ibus-rime -y
      - name: Install rime-cantonese files
        run: |
          chmod u+x ./.ci/*
          export rime_dir=~/.config/ibus/rime
          ./.ci/rime-install.sh
      - name: Compile
        run: |
          chmod u+wx ~/.config/ibus/rime/*
          rime_deployer --build ~/.config/ibus/rime 2> log.tmp
      - name: Check
        run: |
          cat log.tmp
          exit $(cat log.tmp | grep -c ^[EW]) 

  check_jyutping_cpp:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: |
          echo "Installing prerequisites..."
          sudo apt-get install libboost-all-dev
      - run: |
          echo "Building checker from source..."
          export LD_LIBRARY_PATH="/usr/lib/boost/lib"
          g++ .ci/checker.cpp -o checker.o -Ofast -I/usr/include/boost -L/usr/lib/boost/lib -lboost_regex
          chmod u+x ./checker.o
      - run: |
          echo "Checking jyut6ping3.dict.yaml"
          time ./checker.o jyut6ping3.dict.yaml

  check_jyutping_php:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: |
          php .ci/verify.php 
